<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Forum 2.0</title>
        <link rel="stylesheet" href="{{ asset('css/main.css') }}">
        <link rel="stylesheet" href="{{ asset('css/materialize.css') }}">
        <script src="{{ asset('js/jQuery.js') }}"></script>
    </head>
    <body>
        <nav>
            <div class="nav-wrapper">
                <a href="#" class="brand-logo"><img src="{{ asset('img/pic00.png') }}" alt="Logo"></a>
                <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">Menu</i></a>
                <ul id="nav-mobile" class="right hide-on-med-and-down">
                    <li><a href="#">Accueil</a></li>
                    <li><a href="#">Section design</a></li>
                    <li><a href="#">Section développement web</a></li>
                    <li><a href="#">Section marketing</a></li>
                </ul>
            </div>
        </nav>
        <ul id="mobile-demo" class="sidenav">
            <li><a href="#">Accueil</a></li>
            <li><a href="#">Section design</a></li>
            <li><a href="#">Section développement web</a></li>
            <li><a href="#">Section marketing</a></li>
        </ul>

    <script>
        $(document).ready(function () {
            $('.sidenav').sidenav();
        });
    </script>
    <script src="{{ asset('js/materialize.js') }}"></script>
    <script src="{{ asset('js/main.js') }}"></script>
    </body>
</html>